
<link rel="stylesheet" type="text/css" href="modules/jckl_FilterTemplates/css/select2.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="modules/jckl_FilterTemplates/css/deploy.css?v1">
<div class="nav nav-success lead" id="jckl-dashboardtemplate-deploy-status">
</div>

<div class="container-fluid main-panel">
    <div class="deploy-steps">
        <a id="jckl-filtertemplate-deploy-step1" class="goToStep current" data-step="1" tabindex="-1"><span class="badge badge-inverse">1</span> Category</a>
        <a id="jckl-filtertemplate-deploy-step2" class="goToStep" data-step="2" tabindex="-1"><span class="badge">2</span> Selection</a>
        <a id="jckl-filtertemplate-deploy-step3" class="goToStep" data-step="3" tabindex="-1"><span class="badge">3</span> Deploy</a>

    </div>

    <div class="row-fluid content-panel">
        <div class="span12">

