<div style="margin: 14px;">

<div id="docusignHeader" style="text-align: center;" ><b>Envelopes Detail</b></div>

<div id="docusignMain" style="width: 100%; height: 295px;">
<div id="docusignChart" style="width: 100%; height: 205px;">
<canvas align="center" id="canvas" style=" width:470px;height:280px; display: block; margin-left: auto; margin-right: auto;"></canvas>
<table id="details" class="table table-striped dataTable reorderable-columns"><tr><th>Envelopes</th><th>Status</th></tr></table>

<div class="module-list">
<a href="javascript:void(0)" name="show_details" id="show_details" track="click:show_details" >Envelopes Detail</a>
<a href="javascript:void(0)" name="show_graph" id="show_graph" track="click:show_graph" >View Graph</a></div>
</div>

</div>

</div>
